body, html {
  height: 100%;
  margin: 0;
  background-color: #f0f4f8;
}

.body{
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  height: 50vh;            /* full viewport height */
  flex-direction: column;   /* stack items vertically */
  text-align: center;       /* center inline text */
  background-color: rgb(158, 204, 206);
  margin-top: 10%;
  margin-left: 35%;
  margin-right:35%;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 

}

.body:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

